<md-dialog aria-label="List dialog" ng-controller="dialogFormCtrl" flex-xs="80" flex-sm="70" flex-md="50" flex="40">
	<form ng-submit="guardarVisita()">
		<md-toolbar style="background:#858585;color:#000;" layout-padding>
			<div class="md-toolbar-tools">
				<div layout="column">
					<span style="font-size:20px; font-family:bold;" class="ng-binding">Formulario de Registro</span>
					<span style="font-size:12px; font-family:light;" class="ng-binding">Crear Nuevo</span>
				</div>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="descartar()">
					<svg fill="black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
						<path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<br>
			<div layout="row" layout-padding layout-xs="column" layout-align="center center">
				<md-datepicker flex label="true" theme="theme" color="false" md-max-date="form.FECHA_FIN" icon="dominio + 'Content/Icons/calendar.svg'" nombre="'Fecha Inicio'" ng-model="form.FECHA_INICIO" style="color:#505050 !important;">
				</md-datepicker>
				<md-datepicker flex label="true" theme="theme" color="false" md-min-date="form.FECHA_INICIO" icon="dominio + 'Content/Icons/calendar.svg'" nombre="'Fecha Fin'" ng-model="form.FECHA_FIN" style="color:#505050 !important;">
				</md-datepicker>
			</div>
			<div layout="row" layout-padding layout-xs="column">
				<div layout="column" flex layout-padding>
					<tmk-select style="" model="form.KPI" theme="theme" nombre="'KPI'">
						<tmk-option tmk-value="opcion.id" tmk-nombre="opcion.descripcion" ng-repeat="opcion in opciones"></tmk-option>
					</tmk-select>
					<span class="tmk-error" ng-if="errores.KPI" style="margin-top: -15px;">*{{errores.KPI[0]}}</span>
				</div>
			</div>
			<div layout="row" layout-padding layout-xs="column" ng-if="requiereCampania()">
				<div layout="column" flex layout-padding>
					<tmk-select style="" model="form.CAMPANIA" theme="theme" nombre="'CAMPAÑA'">
						<tmk-option tmk-value="opcion.id" tmk-nombre="opcion.descripcion" ng-repeat="opcion in campanias"></tmk-option>
					</tmk-select>
					<span class="tmk-error" ng-if="errores.CAMPANIA" style="margin-top: -15px;">*{{errores.CAMPANIA[0]}}</span>
				</div>
			</div>
			<div layout="row" layout-padding>
				<div layout="column" flex>
					<tmk-input model="form.VALOR" theme="theme" tmk-type="'number'" settings="{label:true}" nombre="'Valor'"></tmk-input>
					<span class="tmk-error" ng-if="errores.VALOR" ng-repeat="error in errores.VALOR">*{{error}}</span>
				</div>
			</div>
			<div layout="row" layout-padding>
				<div layout="column" flex>
					<tmk-input model="form.DESCRIPCION" theme="theme" tmk-type="'text'" settings="{label:true}" nombre="'Descripción'"></tmk-input>
					<span class="tmk-error" ng-if="errores.DESCRIPCION" ng-repeat="error in errores.DESCRIPCION">*{{error}}</span>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout-align="end end" layout-margin>
			<tmk-button nombre="'Descartar'" class="noborder" theme="theme" ng-click="descartar()"></tmk-button>
			<tmk-button nombre="'Guardar'" class="noborder" theme="theme" ng-click="guardar()"></tmk-button>
		</md-dialog-actions>
	</form>

</md-dialog>

<style type="text/css">
	.md-toast-content {
		background-color: red!important;
	}
</style>

<!-- <div ng-controller="dialogFormCtrl" layout-padding>
	<form ng-submit="guardarVisita()">
		<br>
		<div layout="row" layout-padding layout-xs="column" layout-align="center center">
			<md-datepicker flex label="true" theme="theme" color="false" md-max-date="form.FECHA_FIN" icon="dominio + 'Content/Icons/calendar.svg'" nombre="'Fecha Inicio'" ng-model="form.FECHA_INICIO" style="color:#505050 !important;">
			</md-datepicker>
			<md-datepicker flex label="true" theme="theme" color="false" md-min-date="form.FECHA_INICIO" icon="dominio + 'Content/Icons/calendar.svg'" nombre="'Fecha Fin'" ng-model="form.FECHA_FIN" style="color:#505050 !important;">
			</md-datepicker>
		</div>
		<div layout="row" layout-padding layout-xs="column">
			<div layout="column" flex layout-padding>
				<tmk-select style="" model="form.KPI" theme="theme" nombre="'KPI'">
					<tmk-option tmk-value="opcion.descripcion" tmk-nombre="opcion.descripcion" ng-repeat="opcion in opciones"></tmk-option>
				</tmk-select>
				<span class="tmk-error" ng-if="errores.KPI" style="margin-top: -15px;">*{{errores.KPI[0]}}</span>
			</div>
		</div>
		<div layout="row" layout-padding>
			<div layout="column" flex>
				<tmk-input model="form.VALOR" theme="theme" tmk-type="'number'" settings="{label:true}" nombre="'Valor'"></tmk-input>
				<span class="tmk-error" ng-if="errores.VALOR" ng-repeat="error in errores.VALOR">*{{error}}</span>
			</div>
		</div>
		<div layout="row" layout-padding>
			<div layout="column" flex>
				<tmk-input model="form.DESCRIPCION" theme="theme" tmk-type="'text'" settings="{label:true}" nombre="'Descripción'"></tmk-input>
				<span class="tmk-error" ng-if="errores.DESCRIPCION" ng-repeat="error in errores.DESCRIPCION">*{{error}}</span>
			</div>
		</div>

		<br>
		<div layout="row" layout-align="end end" layout-margin>
			<tmk-button nombre="'Descartar'" theme="theme" ng-click="descartar()"></tmk-button>
			<tmk-button nombre="'Guardar'" theme="theme" ng-click="guardar()"></tmk-button>
		</div>
	</form>

</div> -->
