<script>
	document.body.style.zoom = 0.95;
	var dominioModulo = "";
	app.controller('panelController', function($scope, $rootScope, $http, $mdSidenav, $mdToast, $timeout, $log, $mdDialog, $compile, $element, $sce, $mdMedia, $interval,
		themeFactory, asyncFactory, $state) {
		$scope.dominio = dominio;

		$scope.openSide = true;

		$scope.initCtrl = function() {

		}

		$scope.nav = {
			Global: [{
				cabecera: 'Datos Generales',
				icono: $scope.dominio + "Content/Icons/folder.svg",
				botones: [{
						nombre: 'Lista de Registros',
						accion: function() {
							$state.go('list');
						}
					}
					// , {
					// 	nombre: 'Ejemplo de Formulario',
					// 	accion: function() {
					// 		$state.go('form');
					// 	}
					// },
					// {
					// 	nombre: 'Más Componentes',
					// 	accion: function() {
					// 		$state.go('components');
					// 	}
					// }, {
					// 	nombre: 'Gráfica',
					// 	accion: function() {
					// 		$state.go('graph');
					// 	}
					// }
				]
			}]
		}

		$scope.getAmbiente = function() {
			for (var i = 0; i < $scope.theme.ambientes.length; i++) {
				if ($scope.theme.ambientes[i].selected) {
					$scope.ambiente = $scope.theme.ambientes[i];
				}
			}
		}
		$scope.getAmbiente();

		$scope.getPC = function() {
			return new Promise((aceptar, cancelar) => {
				$rootScope.apiRun({
					url: "api/Work/getPC",
					method: "GET"
				}).then(function(r) {
					r.dialogBag = {
						theme: $scope.theme,
						ambiente: $scope.ambiente,
						dialoguer: $scope.dialoguer,
						confirmer: $scope.confirmer,
						toaster: $scope.toaster,
						save: function() {
							$scope.getDefArbol();
						}
					}
					aceptar(r)
				}).catch(function(r) {
					cancelar();
				});
			});
		}

		$scope.logout = function() {
			$scope.panelSeleccionado = undefined;
			localStorage.removeItem("token");
			$rootScope.apiRun({
				url: "api/Work/getLogging",
				method: "GET"
			}).then(function(r) {
				asyncFactory.load(r.data.value, "contenedor", function() {});
			})
		}
		$scope.getConfig = function() {
			return new Promise((aceptar, cancelar) => {
				$rootScope.apiRun({
					url: "api/Work/getConfig",
					method: "GET"
				}).then(function(r) {
					r.dialogBag = {
						theme: $scope.theme,
						ambiente: $scope.ambiente,
						dialoguer: $scope.dialoguer,
						confirmer: $scope.confirmer,
						toaster: $scope.toaster,
						logout: $scope.logout,
						save: function() {
							$scope.getDefArbol();
						}
					}
					aceptar(r)
				}).catch(function(r) {
					cancelar();
				});
			});
		};

		$scope.infoUser = {
			nombre: usuario.nombreUsuario,
			// nombre: "Alejandro Medina Ruiz",
			// email: "alejandro.medina@tlmark.com"
		}
		$scope.SettingsTool = {
			owner: $scope.infoUser
		};

		$scope.$watch(function() {
			return $rootScope.error
		}, function() {
			if ($rootScope.error !== undefined) {
				$scope.toaster("Error en la aplicación, Reporte a los administradores creado.", 7, false, false);
				console.log($rootScope.error);
				if ($rootScope.error.status == 500) {}

			}
		})

		$scope.initCtrl();
	});
</script>
<div ng-controller="panelController" style="width:100%;  height:100%;" id="panelPrincipal">
	<div style="width:100%; height:100%;" flex layout="row">

		<tmk-side-bar style="height:100%" theme="theme" nav="nav" open="openSide" settings="{title:'Datos Generales'}" ng-show="!modeHorizontal">
		</tmk-side-bar>
		<div layout="column" style="width:100%; height:100%">
			<div>
				<tmk-tool-bar modulo-selected="moduloSelected" inbound="inbound" confirmer="confirmer" open-tool="openTool" toaster="toaster" dialoger="dialoguer" open-side="openSide" theme="theme" tmk-title="'Traslados'" settings="SettingsTool">
				</tmk-tool-bar>
			</div>
			<div style="width:100%;" ng-show="modeHorizontal">
				<tmk-side-bar-hor theme="theme" nav="moduloSelected.navItem.botones" modulo-selected="moduloSelected" settings="">
				</tmk-side-bar-hor>
			</div>
			<div flex layout="column" layout-align="center center">

				<ui-view style="width:100%; max-height:100%; overflow-y:auto; overflow-x:hidden; padding:10px;" theme="theme" flex class="scrollable"></ui-view>

				<div style="width:100%;" layout="row" layout-align="center center">
					<span flex></span>
					<span style="color:#939393; font-size:{{modePequenio?'9':'11'}}px; margin-right:6px; margin-top:0px; font-family:regular">Powered by </span>
					<img style="margin-right:15px; transition: all linear 0.2s; width:{{modePequenio?'60':'110'}}px;" src="{{theme.corpImage2}}" />
				</div>

			</div>
		</div>
	</div>

</div>

<style type="text/css">
	#tool_submenu_view {
		display: none !important;
	}
</style>